:host {
  ion-toolbar {
    &:first-of-type {
      box-sizing: content-box;
    }
    &.ios {
      height: 40px !important;
    }
    &.h5-show-bar {
      height: 40px !important;
    }
  }
  .mg-b-10{
    margin-bottom: 10px;
  }
  .info-title{
    font-size: 12px;
    color: #626262;
    padding: 20px 20px 10px;
    background-color: #F9FBFE;
  }
  city-picker{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
  ion-list {
    ion-item {
      &.no-border{
        &:after{
          display: none;
        }
      }
      &:after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        right: auto;
        top: auto;
        height: 2px;
        width: 100%;
        background-color: transparent;
        border-bottom: 2px solid #F9FBFE;
        display: block;
        z-index: 999;
        // transform-origin: 50% 100%;
        // -ms-transform-origin: 50% 100%;
        // -moztransform-origin: 50% 100%;
        // -o-transform-origin: 50% 100%;
        // transform: scaleY(0.5);
      }
      // .item-native,.input-wrapper{
      //   --min-height:40px;
      //   min-height: 40px;
      // }
      .item-inner{
        &:after{
          display: none;
        }
        
      }
      ion-label {
        &:first-child {
          width: 98px;
          min-width: 98px;
          color: #626262;
          font-size: 16px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
      ion-input {
        height: 40px;
        text-align: right;
        color: #252525;
        font-size: 16px;
      }
    }
  }
}