<ion-header #header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title [hidden]="islandscape"> {{ '职位搜索' | translate }} </ion-title>
  </ion-toolbar>
  <!-- 搜索框 -->
  <ion-searchbar
    placeholder="{{'Contact Search' | translate}}"
    style="z-index: 101"
    mode="ios"
    (ionInput)="filterItems($event)"
  >
  </ion-searchbar>
</ion-header>
<ion-content>
  <!--pagesate-->
  <vx-pagestate [state]="pageState"></vx-pagestate>
  <div class="pd-20">
    <div class="title">
      <span>历史搜索</span>
      <span></span>
    </div>
    <ul class="history-content">
      <li *ngFor="let tagItem of historyData">{{tagItem.text}}</li>
    </ul>
    <div class="title">
      <span>条件筛选</span>
    </div>
    <div class="sub-title" (click)="toggleExpand('jobExpand')">
      <span>岗位类型</span>
      <span [ngClass]="{'expand': jobExpand === true}"></span>
    </div>
    <ul *ngIf="jobExpand" class="genre-content">
      <li class="list-item" *ngFor="let genItem of genreData">{{genItem.text}}</li>
    </ul>
  </div>
  <div class="pd-20">
    <div class="sub-title">
      <span>薪资范围（千元）</span>
    </div>
    <div class="range-top">
      <span>最低</span>
      <span></span>
      <span>最高</span>
    </div>
    <ul class="genre-content">
      <li class="list-item" *ngFor="let genItem of rangeData">{{genItem.text1}}<br/>{{genItem.text2}}</li>
    </ul>
  </div>
  <div class="pd-20">
    <div class="sub-title" (click)="toggleExpand('spaceExpand')">
      <span>工作地点</span>
      <span [ngClass]="{'expand': spaceExpand === true}"></span>
    </div>
    <ng-container *ngIf="spaceExpand">
      <p>定位城市</p>
      <div>上海</div>
      <!-- <p>热门城市</p>
      <ul>
        <li *ngFor="let hotItem of hotCity">{{hotItem.text}}</li>
      </ul> -->
    
    <!-- --city城市----- -->
    <ion-virtual-scroll
      mode="ios"
      [hidden]="contactList.length == 0"
      [items]="contactList"
      [approxItemHeight]="'70px'"
      [approxHeaderHeight]="'40px'"
      [footerFn]="myFooterFn"
      [headerFn]="myHeaderFn"
      class="genre-content"
    >
      <ion-item-divider class="top" id="{{ header }}" *virtualHeader="let header">
        {{ header }}
      </ion-item-divider>
      <ion-item
        lines="none"
        mode="ios"
        *virtualItem="let spcitys"
        (click)="itemSelected(spcitys)"
      >
        <ion-label>
          <span class="list-item" >
            444
           <!-- {{ }} -->
          </span>
         
        </ion-label>
      </ion-item>
    </ion-virtual-scroll>
    </ng-container>
  </div>
</ion-content>
<contact-indexed
  *ngIf="indexShow"
  [topHeight]="topHeight"
  [bottomHeight]="bottomHeight"
  (scrollToLetterEvent)="scrollToIndex($event)"
></contact-indexed>

